In [2]:
!python3 -m pip install pandas

Collecting pandas
  Using cached pandas-2.3.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.26.0 in /Users/raviranjanojha/Documents/Python-complete-course/venv/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/raviranjanojha/Documents/Python-complete-course/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/raviranjanojha/Documents/Python-complete-course/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp312-cp312-macosx_11_0_arm64.whl (10.7 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]2m2/3 [pandas]
Successfully installed pandas-2.3.2 pytz-2025.2 tzdata-2025.2

In [53]:
## series
import pandas as pd
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print("Original Series:\n", s)

Original Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
## create series from dictionary
data = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(data)
print("Series from Dictionary:\n", s)

Series from Dictionary:
 a    1
b    2
c    3
dtype: int64

In [6]:
data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=index)
print("Series from List with Custom Index:\n", s)

Series from List with Custom Index:
 a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
## dataframe
data={
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print("DataFrame from Dictionary:\n", df)

DataFrame from Dictionary:
       name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [51]:
## create dataframe form list of dictonaries
data = [
    {'name': 'Alice', 'age': 25, 'city': 'New York'},
    {'name': 'Bob', 'age': 30, 'city': 'Los Angeles'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
]

df = pd.DataFrame(data)
print("DataFrame from List of Dictionaries:\n", df)

DataFrame from List of Dictionaries:
       name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [42]:
## read data from excel file
df = pd.read_excel("data.xlsx")
print("DataFrame from Excel File:\n", df)
print("Column Names:\n", df.columns)
print("Data Types:\n", df.head(5))

DataFrame from Excel File:
     CompactPNL (2)(PNL Base Data) (2)     Unnamed: 1  \
0                          Project ID  Customer Name
1                         Y.IN2301702     Customer 1
2                         Y.IN2301702     Customer 1
3                         Y.IN2301702     Customer 1
4                         Y.IN2301702     Customer 1
..                                ...            ...
98                        Z.IN2301551   Customer 315
99                        Z.IN2301551   Customer 315
100                       Z.IN2301551   Customer 315
101                       Z.IN2301551   Customer 315
102                       Z.IN2301551   Customer 315

                     Unnamed: 2       Unnamed: 3       Unnamed: 4  \
0    Customer Group Description  Delivery IBU ID  Delivery IBG ID
1              Customer Group 1       DEA-D-4001       DEA-D-3004
2              Customer Group 1       DEA-D-4001       DEA-D-3004
3              Customer Group 1       DEA-D-4001       DEA-D-3004
4              Customer Group 1       DEA-D-4001       DEA-D-3004
..                          ...              ...              ...
98           Customer Group 234       DEA-N-4002       DEA-N-3003
99           Customer Group 234       DEA-N-4002       DEA-N-3003
100          Customer Group 234       DEA-N-4002       DEA-N-3003
101          Customer Group 234       DEA-N-4002       DEA-N-3003
102          Customer Group 234       DEA-N-4002       DEA-N-3003

             Unnamed: 5    Unnamed: 6   Unnamed: 7     Unnamed: 8  \
0    Proj Pricing Model  Fiscal Month  Fiscal Year       Vertical
1                   T&M           JAN         2024  MANUFACTURING
2                   T&M           JAN         2024  MANUFACTURING
3                   T&M           FEB         2024  MANUFACTURING
4                   T&M           FEB         2024  MANUFACTURING
..                  ...           ...          ...            ...
98                  NaN           FEB         2024            COR
99                  NaN           MAR         2024            COR
100                 NaN        APR'25         2025            COR
101                 NaN        MAY'25         2025            COR
102                 NaN        JUN'25         2025            COR

       Unnamed: 9   Unnamed: 10        Unnamed: 11 Unnamed: 12  \
0    Sales SBU ID  Sales IBG ID  Contract Sub Type     Quarter
1             ASV         SMFG1       T&M STAFFING       Q4'25
2      EMEA-SALES          SICE       T&M STAFFING       Q4'25
3             ASV         SMFG1       T&M STAFFING       Q4'25
4      EMEA-SALES          SICE       T&M STAFFING       Q4'25
..            ...           ...                ...         ...
98      CORPSALES      IBG_CORP                NaN       Q4'25
99      CORPSALES      IBG_CORP                NaN       Q4'25
100     CORPSALES      IBG_CORP                NaN       Q1'26
101     CORPSALES      IBG_CORP                NaN       Q1'26
102     CORPSALES      IBG_CORP                NaN       Q1'26

           Unnamed: 13      Unnamed: 14          Unnamed: 15     Unnamed: 16
0     Revenue Offshore   Revenue Onsite   Revenue Bought Out   Revenue Total
1            -10126.62                1                    1       -10126.62
2             10126.62                1                    1        10126.62
3             -14965.7                1                    1        -14965.7
4              14965.7                1                   11         14965.7
..                 ...              ...                  ...             ...
98                   1                1                    1               1
99                   1               11                    2               1
100                  1                2                    1               1
101                  2                3                    3               2
102                  3                4                    4               3

[103 rows x 17 columns]
Column Names:
 Index(['CompactPNL (2)(PNL Base Data) (2)', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')
Data Types:
   CompactPNL (2)(PNL Base Data) (2)     Unnamed: 1  \
0                        Project ID  Customer Name
1                       Y.IN2301702     Customer 1
2                       Y.IN2301702     Customer 1
3                       Y.IN2301702     Customer 1
4                       Y.IN2301702     Customer 1

                   Unnamed: 2       Unnamed: 3       Unnamed: 4  \
0  Customer Group Description  Delivery IBU ID  Delivery IBG ID
1            Customer Group 1       DEA-D-4001       DEA-D-3004
2            Customer Group 1       DEA-D-4001       DEA-D-3004
3            Customer Group 1       DEA-D-4001       DEA-D-3004
4            Customer Group 1       DEA-D-4001       DEA-D-3004

           Unnamed: 5    Unnamed: 6   Unnamed: 7     Unnamed: 8    Unnamed: 9  \
0  Proj Pricing Model  Fiscal Month  Fiscal Year       Vertical  Sales SBU ID
1                 T&M           JAN         2024  MANUFACTURING           ASV
2                 T&M           JAN         2024  MANUFACTURING    EMEA-SALES
3                 T&M           FEB         2024  MANUFACTURING           ASV
4                 T&M           FEB         2024  MANUFACTURING    EMEA-SALES

    Unnamed: 10        Unnamed: 11 Unnamed: 12        Unnamed: 13  \
0  Sales IBG ID  Contract Sub Type     Quarter   Revenue Offshore
1         SMFG1       T&M STAFFING       Q4'25          -10126.62
2          SICE       T&M STAFFING       Q4'25           10126.62
3         SMFG1       T&M STAFFING       Q4'25           -14965.7
4          SICE       T&M STAFFING       Q4'25            14965.7

       Unnamed: 14          Unnamed: 15     Unnamed: 16
0   Revenue Onsite   Revenue Bought Out   Revenue Total
1                1                    1       -10126.62
2                1                    1        10126.62
3                1                    1        -14965.7
4                1                   11         14965.7

In [10]:
!python3 -m pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [25]:
## accessing data from dataframe
data
print(df['name'])  # Accessing a single column
print(df[['name', 'age']])  # Accessing multiple columns
print("--")
print(df.iloc[0])  # Accessing a single row
print("--")
print(df.iloc[:, 0])  # Accessing a single column by index
print("--")
print(df.iloc[0, 0])  # Accessing a single value by row and column index
print("--")
print(df.loc[0, 'name'])  # Accessing a single value by row label and column label

0      Alice
1        Bob
2    Charlie
Name: name, dtype: object
      name  age
0    Alice   25
1      Bob   30
2  Charlie   35
--
name       Alice
age           25
city    New York
Name: 0, dtype: object
--
0      Alice
1        Bob
2    Charlie
Name: name, dtype: object
--
Alice
--
Alice

In [27]:
## accessing specific element
print(df.at[0, 'name'])  # Accessing a single value by row label and column label
print(df.iat[0, 0])  # Accessing a single value by row and column index
print(df.iat[1, 2])  # Accessing a single value by row and column index

Alice
Alice
Los Angeles

In [50]:
## add a column
df['salary'] = [50000, 60000, 70000]
print("DataFrame after adding new column:\n", df)

TypeError: 'NoneType' object does not support item assignment

In [45]:
## remove a column
df = df.drop('salary', axis=1)
print("DataFrame after removing column:\n", df)

DataFrame after removing column:
       name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [48]:
## permanent delete
df = df.drop('salary', axis=1, inplace=True)
print("DataFrame after permanently removing column:\n", df)

DataFrame after permanently removing column:
 None

In [52]:
## add age to the column
df['age'] = df['age']+1
print("DataFrame after adding new column:\n", df)

DataFrame after adding new column:
       name  age         city
0    Alice   26     New York
1      Bob   31  Los Angeles
2  Charlie   36      Chicago