In [2]:
import pandas as pd
from io import StringIO

Data = '{"employee_name": "ravi", "email": "ravi@example.com", "job_profile": [{"title": "data scientist", "exp": 5}, {"title": "data analyst", "exp": 3}]}'
df = pd.read_json(StringIO(Data))
df

  employee_name             email                            job_profile
0          ravi  ravi@example.com  {'title': 'data scientist', 'exp': 5}
1          ravi  ravi@example.com    {'title': 'data analyst', 'exp': 3}

In [4]:
print(df.to_json())

{"employee_name":{"0":"ravi","1":"ravi"},"email":{"0":"ravi@example.com","1":"ravi@example.com"},"job_profile":{"0":{"title":"data scientist","exp":5},"1":{"title":"data analyst","exp":3}}}

In [5]:
print(df.to_json(orient='index'))  # Example with 'index' orientation

{"0":{"employee_name":"ravi","email":"ravi@example.com","job_profile":{"title":"data scientist","exp":5}},"1":{"employee_name":"ravi","email":"ravi@example.com","job_profile":{"title":"data analyst","exp":3}}}

In [6]:
print(df.to_json(orient='records'))  # Example with 'records' orientation

[{"employee_name":"ravi","email":"ravi@example.com","job_profile":{"title":"data scientist","exp":5}},{"employee_name":"ravi","email":"ravi@example.com","job_profile":{"title":"data analyst","exp":3}}]

In [7]:
## read csv file
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [13]:
df.to_csv('wine_data.csv', index=False)

In [10]:
import pandas as pd
import requests

url = "https://www.fdic.gov/bank-failures/failed-bank-list"
response = requests.get(url, verify=False)  # disables SSL verification
df = pd.read_html(response.text)

print(df[0].head())

/Users/raviranjanojha/Documents/Python-complete-course/venv/lib/python3.12/site-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.fdic.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

                               Bank Name          City         State   Cert  \
0           The Santa Anna National Bank    Santa Anna         Texas   5520
1                   Pulaski Savings Bank       Chicago      Illinois  28611
2     The First National Bank of Lindsay       Lindsay      Oklahoma   4134
3  Republic First Bank dba Republic Bank  Philadelphia  Pennsylvania  27332
4                          Citizens Bank      Sac City          Iowa   8758

               Acquiring Institution      Closing Date  Fund  Sort ascending
0          Coleman County State Bank     June 27, 2025                 10549
1                    Millennium Bank  January 17, 2025                 10548
2             First Bank & Trust Co.  October 18, 2024                 10547
3  Fulton Bank, National Association    April 26, 2024                 10546
4          Iowa Trust & Savings Bank  November 3, 2023                 10545

/var/folders/6g/14dzpnmx1rv7dtfb9y9z2vpr0000gn/T/ipykernel_8223/2861267758.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(response.text)

In [9]:
!python3 -m pip install requests

Collecting requests
  Downloading requests-2.32.5-py3-none-any.whl.metadata (4.9 kB)
Collecting charset_normalizer<4,>=2 (from requests)
  Using cached charset_normalizer-3.4.3-cp312-cp312-macosx_10_13_universal2.whl.metadata (36 kB)
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2025.8.3-py3-none-any.whl.metadata (2.4 kB)
Downloading requests-2.32.5-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.3-cp312-cp312-macosx_10_13_universal2.whl (205 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.5.0-py3-none-any.whl (129 kB)
Using cached certifi-2025.8.3-py3-none-any.whl (161 kB)
Installing collected packages: urllib3, idna, charset_normalizer, certifi, requests
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5/5 [requests]
Successfully installed certifi-2025.8.3 charset_normalizer-3.4.3 idna-3.10 requests-2.32.5 urllib3-2.5.0

In [25]:
!python3 -m pip install lxml

Requirement already satisfied: lxml in /Users/raviranjanojha/Documents/Python-complete-course/venv/lib/python3.12/site-packages (6.0.1)